body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #dbeafe, #f3e8ff);
  margin: 0;
  padding: 20px;
  color: #222;
  transition: background 0.5s ease;
}

header {
  text-align: center;
  color: #1e3a8a;
  margin-bottom: 30px;
}
header h1 {
  margin: 0;
  font-size: 1.7em;
}
.meta {
  color: #555;
  font-size: 0.9em;
}

.card {
  background: #ffffff;
  border-radius: 14px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: transform 0.2s ease;
}
.card:hover {
  transform: translateY(-3px);
}
.card h2 {
  color: #2563eb;
  border-bottom: 2px solid #dbeafe;
  padding-bottom: 5px;
}

.subcard {
  margin-top: 15px;
  border-left: 4px solid #93c5fd;
  padding-left: 10px;
}

button {
  background: linear-gradient(90deg, #3b82f6, #6366f1);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 14px;
  margin: 5px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(99,102,241,0.3);
  transition: all 0.3s ease;
}
button:hover {
  transform: translateY(-2px);
  background: linear-gradient(90deg, #2563eb, #7c3aed);
}

#panel {
  background: #eff6ff;
  padding: 10px;
  border-radius: 6px;
  margin-top: 6px;
  border: 1px solid #bfdbfe;
}


input {
  margin: 5px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #c7d2fe;
  width: 45%;
  transition: 0.3s;
}
input:focus {
  border-color: #6366f1;
  outline: none;
}


#box {
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg,  #2563eb, #7c3aed);
  border-radius: 8px;
  margin-top: 12px;
  position: relative;
  box-shadow: 0 2px 10px rgba(249,115,22,0.3);
}


.accordion {
  margin-top: 10px;
}
.acc-title {
  background: #e0e7ff;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  margin: 5px 0;
  transition: background 0.3s ease;
}
.acc-title:hover {
  background: #c7d2fe;
}
.acc-content {
  display: none;
  padding: 10px;
  background: #f9fafb;
  border-left: 3px solid #6366f1;
  border-radius: 0 0 6px 6px;
}


footer {
  text-align: center;
  font-size: 0.9em;
  color: #555;
  margin-top: 30px;
}